.gene_card {
    border: none;
    padding: 5px 10px 10px 10px;
    width: 50%;
    background: white;
    box-shadow: 1px 1px 1px 2px lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}

.gene_card > h2 {
    color: rgb(34, 78, 115);
    border-bottom: 1px solid rgb(184, 182, 182);
}

.gene_info_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    padding: 5px 0px;
}

.gene_info_title {
    color: rgb(68, 68, 68);
}

.gene_external_link {
    text-decoration: none;
    color: #007bff;

}

.csv-download-button {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px 2px lightgray;
    color: rgb(34, 78, 115);
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

