.nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-bar-link {
    text-decoration: none;
    color: rgb(105, 134, 184);
    font-weight: bold;
    font-size: large;
}

.nav-bar-link > a {
    text-decoration: none;
    color: rgb(105, 134, 184);
}

